:root{
    --gris_sombre: #353535;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


header{
    background-color: var(--gris_sombre);
    width: 100%;
    height: 20rem;
}

.imgHeader{
    width: auto;
    height: 20rem;
}

body{
    margin: 0;
}